<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="container">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <h1>Here are a few jokes to get you laughing! :D</h1><br>
    <a class="btn btn-primary" th:href="@{/jokes/create}">Click me to add your own joke!</a><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Genre</th>
                <th>Joke</th>
            </tr>
        </thead>
        <tbody>
            <span th:each="joke : ${jokes}">
                <tr>
                    <td th:utext="${joke.id}"></td>
                    <td th:utext="${joke.genre}"></td>
                    <td>
                        <span th:utext="${joke.setup}"></span><br>
                        <span th:utext="${joke.punchline}"></span>
                    </td> 
                </tr>
            </span>
        </tbody>
    </table>
</body>
</html>